<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"	
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />		
		<link rel="icon" href="" />
		<link rel="shortcut icon" type="image/x-icon" href="" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<title>Teste</title>		
	</h:head>
	<h:body>		
		<p:growl autoUpdate="true"/>
		#{bikeLogController.title}
		<h:form id="bikeLogForm" prependId="false">
			<p:inputText value="#{bikeLogController.bikeLog.log}"/>
			<br />
			<p:commandButton value="Adicionar" actionListener="#{bikeLogController.writeBikeLog()}" update=":bikeLogTable"/>
			<br />
			<p:dataTable id="bikeLogTable" lazy="true" value="#{bikeLogController.lazyList}"
				paginator="true" rows="50" var="bikeLog"
			paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
			rowsPerPageTemplate="10,50,100"
			paginatorPosition="bottom">
				<p:column headerText="Log">
					#{bikeLog.log}
				</p:column>
			</p:dataTable>
		</h:form>
	</h:body>

</html>